body{
    height: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

table.board{
    display:grid;
    grid-template-rows: repeat(20px, 5vmin);
    grid-template-columns: repeat(20px, 5vmin);
    grid-gap: 10vmin;
    
    
}

th{
    border: 2px solid black;
    width: 0;
	height: 0;
	border-left: 24px solid transparent;
	border-right: 24px solid transparent;
	border-top: 40px solid blue;
    background-color: white;
    cursor:pointer; 
}
.blackhover:hover{
    border-top: 40px solid black;
}
.redhover:hover{
    border-top: 40px solid red;
}

td{
    border: 2px solid black;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 40px;
}
button{
    font-size: 28px;
    margin: 20px;
    border-radius: 5px;
    visibility: hidden;
}